{% extends 'home/defaultEmptyBasePage.html' %}
{% block meta_title %}Password reset complete{% endblock %}
{% block meta_description %}Password reset complete{% endblock %}
{% block page_content %}
  <div class="container" style="max-width:600px;">
    <div class="row">
<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:5px;padding-right:5px;padding-top:5px">
  <p class="alert alert-success"><strong>Password reset complete</strong><br>Your password has been set.  You may go ahead and <a href="{% url 'users:login' %}" class="text-success"><strong>log in</strong></a> now.</p>
</div>
    </div>
  </div>
{% endblock %}
{% block pageJs %}
{% endblock %}
