{% extends 'home/defaultBasePage.html' %}
{% block meta_title %}Password change successful{% endblock %}
{% block page_content %}
  <div class="container" style="max-width:600px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:5px;padding-right:5px;padding-top:5px">
	<div class="alert alert-success">
	  <p class="text-center"><strong>Your password was changed successfully.</strong></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block pageJs %}
{% endblock %}
