{% extends 'home/defaultEmptyBasePage.html' %}
{% block meta_title %}Password reset - Enter your email address{% endblock %}
{% block meta_description %}Password reset - Enter your email address{% endblock %}
{% block page_content %}
  <div class="container" style="max-width:600px;">
    <div class="row">
<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:5px;padding-right:5px;padding-top:5px">
  <div class="panel panel-default" style="margin-bottom: 10px;">
    <div class="modal-header">
      <h4 class="modal-title">Password Reset</h4>
    </div>
    <div class="panel-body" style="padding-top:10px;padding-bottom:0px;">
    <!--Form Starts -->
      <form action="" method="post" class="form-horizontal" role="form">
        <fieldset>
	{% csrf_token %}
          {% if form.errors.email %}              
          <p class="alert alert-danger" style="margin-bottom:4px;">Please enter a valid email address.</p>
          {% endif %}
	  <p class="alert alert-warning">Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
          <div class="form-group">
            <label for="id_email" class="col-sm-4 control-label">Email address:</label>
            <div class="col-sm-6">
              {{ form.email }}
            </div>
          </div>
          <div class="form-group modal-footer" style="padding-bottom:10px;">
            <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-refresh fa-fw"></i>Reset my password</button>
            </div>
          </div>
        </fieldset>
      </form>
    <!--Form Finishes -->
    </div>
  </div>
</div>
    </div>
  </div>
{% endblock %}
{% block pageJs %}
{% endblock %}
