{% extends 'home/defaultEmptyBasePage.html' %}
{% block meta_title %}Password reset successful{% endblock %}
{% block meta_description %}Password reset successful{% endblock %}
{% block page_content %}
  <div class="container" style="max-width:600px;">
    <div class="row">
<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:5px;padding-right:5px;padding-top:5px">
  <p class="alert alert-success"><strong>Password reset successful</strong><br>We've emailed you instructions for setting your password. You should be receiving them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>
    </div>
  </div>
{% endblock %}
{% block pageJs %}
{% endblock %}
